<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Ghibli API</title>
  </head>
  <body>
    <h1><%= dirName.name %> as Director</h1>
    <% titlesOfDir.forEach((title) => { %>
      <div><a href="/comments?filmId=<%= title.filmId %>&userId=<%= userId %>">
        <%= title.title %>
      </a></div>
    <% }); %>
  </body>
</html>
