<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Ghibli API</title>
  </head>
  <body>
    <h1><%= dirName[0].name %> as Director</h2>
    <% titlesOfDir.forEach((title) => { %>
      <div><%= title.title %></div>
    <% }); %>
  </body>
</html>
