<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Ghibli API</title>
  </head>
  <body>
    <h1>Titles</h1>
    <% allTitles.forEach((title) => { %>
      <div><%= title.title %></div>
    <% }); %>
  <body>
