<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Ghibli API</title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <form action="/sign_up" method="POST">
        <div class="form-field">
          <label for="username">Username</label>
          <input
            id="username"
            name="username"
            type="text"
          />
        </div>
        <div class="form-field">
          <label for="password">Password</label>
          <input
            id="password"
            name="password"
            type="password"
          />
        </div>
      <button type="submit">Sing Up</button>
    </form>
  </body>
</html>
